body {
    background-color: #2C3350;
    margin: 1em 5em;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 22px;
}

body > h1 {
    margin-bottom: 2em;
}

.continentButtons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 1em 4em;
    border: 2px solid #2C3350;
    border-radius: 0.3em;
    -webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
}

button:focus {
    border: 2px solid black;
    background-color: gray;
}

.active {
    border: 2px solid black;
    background-color: gray;
}

button > p {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 22px;
}

.visualizationWrap {
    display: flex;
    margin-top: 2em;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
}

#catNav {
    z-index: 0;
}

#catNav > text {
    display: flex;
    align-items: flex-start;
    font-size: 2em;
    width: 400px;
    font-family: "montserrat";
    padding: 0.5em;
    margin: 2em 1em 0em 2em;
    border-radius: 0.3em;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
}

#circleWrap {
    margin-left: -200px;
}

.tooltip {
    pointer-events: none;
    position: absolute;
    background-color:#ff3466;
    font-family: "montserrat";
    font-size: 2em;
    font-weight: 100;
    padding: 0em 1em 1em 1em;
    color: #FFF;
  }

.tooltipTitle {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0.5em 0em 0.5em 0em;
}

#catNav text:hover {
    background-color: rgb(255, 240, 255);
    border-width: .1em;
}


* {box-sizing:border-box;}
html {font-size: 62.5%;}