body {
    background-color: #2C3350;
    margin: 1em 5em;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 22px;
}

body > h1 {
    margin-bottom: 2em;
}

.continentButtons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 1em 4em;
    border: 2px solid #2C3350;
    border-radius: 0.3em;
    -webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
}

button:focus {
    border: 2px solid black;
    background-color: gray;
}

button > p {
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    font-size: 22px;
}

.visualizationWrap {
    display: flex;
    margin-top: 2em;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 9px 3px rgba(0,0,0,0.4);
}

svg {
   height: 600px;
   width: 100%;
   padding: 0.7em;
}

text {
    display: flex;
    align-items: flex-start;
    font-size: 2em;
    font-family: "montserrat";
    padding: 0.5em;
    margin: 2em 1em 1em 2em;
    border-radius: 0.3em;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
}

text:hover {
    background-color: rgb(255, 220, 220);
    color: black!important;
}

 /* Checkboxes */

 .select-choose {
	position:relative;
  width: 350px;
}

/* arrow on select */
.select-choose::before {
    position:absolute;
    top:50%; right:12px;
    width:6px; height:4px;
    opacity:.5;
    content:'';
    transform:translateY(-50%);
    transition:all .2s;
}
.select-choose:hover::before {
    opacity:1;
}

/* input text styling for select */
.select-choose__title {
    overflow:hidden;
    width:100%;
    height:32px;
    color:#757575;
    font-size:1.2rem;
    line-height:32px;
    white-space:nowrap;
    text-overflow:ellipsis;
    background-color:#fff;
    border:1px solid #e1e1e1;
    border-radius:3px;
    padding:0 40px 0 10px;
    cursor:pointer;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}

/* link for drop dropdown */
.select-choose__link {
    position:absolute;
    top:0; right:0; left:0;
    height:32px;
}

/* hidden dropdown */
.select-choose__list {
    display: none;
    position:absolute;
    top:34px; left:0;
    z-index:110;
    width:100%;
    background-color:#fff;
    border:1px solid #e1e1e1;
    border-radius:3px;
    padding:0 8px;
}
.select-choose__item {
    color:#757575;
    font-size:1.4rem;
    padding:4px 0;
    margin:8px 0;
}



input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 8px 0 0;
}
* {box-sizing:border-box;}
html {font-size: 62.5%;}